<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Go to Robot</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

</head>
<header>
    <button disabled id="start">Restart</button>
    <input id="filegame" accept=".json" type="file" onchange="showFile(this)">
    <select name="user_profile_color_1" autofocus>
        <option value="1">level</option>
        <option value="2">level</option>
        <option value="3">level</option>
        <option value="4">level</option>
        loading
    </select>
</header>
<body>
<div class="conteiner">
    <div id="interface">

        <button id="go" >GO</button>
        <div>
            <button id="turn" ><img src="https://img.icons8.com/doodle/344/rotate.png" id="im">
            </button>
        </div>
        <div>
            <button id="token" >token</button>
        </div>
        <div>
        </div>
    </div>
    <div>
        <canvas id="Canvas"></canvas>
        <meter id="loading" value="0" min="0" max="100" optimum="85" low="33" high="66"></meter>
    </div>
    <div class="lvlInfo">
        <details open id="lvlInfo">
            <summary>Level info</summary>

        </details>
    </div>
</div>

<div class="conteiner">
    <div class="code">
        <div><input type="button" id="gocode" value="Submit code"></div>
        <textarea>
</textarea>
    </div>
    <div class="code">
        <h4>Help</h4>
        <h5>control functions</h5>
        <p> karol.go(); - make a move</p>
        <p> karol.turnLeft(); - make a turn left</p>
        <p> karol.putCoin(); - put in a coin</p>
        <p> karol.flipCoin(); - flip a coin</p>
        <p> karol.checkCoin(); - check for the presence of a coin</p>
        <p>karol.checkTabCoin(); - check for coin fields</p>
        <p>karol.checkWall(); - check on the wall</p>
    </div>
</div>

<footer>


</footer>
<script src="dist/main.js"></script>
</body>
</html>