<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Go to Robot</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<header>
    <button disabled id="start">start</button>
    <input id="filegame" accept=".json" type="file" onchange="showFile(this)">

    <select name="user_profile_color_1" autofocus>
        <option value="1">level 1</option>
        <option value="2">level 2</option>
        <option value="3">no level</option>
        <option value="4">no level</option>
    </select>
</header>
<body>

<div id="conteiner"></div>
    <div id="interface">

        <button id="go" onmousedown="move()" onmouseup="clearmove()">GO</button>
        <div>
            <button id="turn" onmousedown="turn()"><img src="https://img.icons8.com/doodle/344/rotate.png" id="im">
            </button>
        </div>
        <div>
            <button id="token" onmousedown="token()">token</button>
        </div>
        <div><meter id="loading" value="0" min="0" max="100" optimum="85" low="33" high="66"></meter></div>
    </div><canvas id="Canvas"></canvas>

<div id="conteiner"><div class="code">
        <div><input type="button" id="gocode" value="Submit code"></div>
        <textarea>
</textarea>
    </div>
<div class="code">
    <h4>Help</h4>
    <h5>control functions</h5>
    <p> karol.go(); - make a move</p>
    <p> karol.turnLeft(); - make a turn</p>
    <p> karol.lift(); - pick up a coin</p>
    <p> karol.chekWall(); - check for an obstacle. returns true and false </p>
</div></div>

<footer>
</footer>
<script src="js/config.js"></script>
<script src="js/entity.js"></script>
<script src="js/control.js"></script>
<script src="js/worldgen.js"></script>
<script src="js/mapSeting.js"></script>
<script src="js/render.js"></script>
<script src="js/karel_write_control.js"></script>

</body>
</html>