<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Document</title>
    <link href="public/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<header>
</header>
<body>
<button onmousedown="startGame()" ontouchstart="startGame()">start</button>
<input id="filegame" type="file" onchange="showFile(this)">
<div><canvas id="Canvas"></canvas></div>
<div id="interface">
    <button id="token" onmousedown="token()" ontouchstart="token()">token</button>
    <button id="up" onmousedown="move('up')" onmouseup="clearmove()" ontouchstart="move('up')">UP</button>

   <div> <button onmousedown="move('left')" onmouseup="clearmove()" ontouchstart="move('left')">LEFT</button>
       <button onmousedown="move('down')" onmouseup="clearmove()" ontouchstart="move('down')">DOWN</button>
       <button onmousedown="move('right')" onmouseup="clearmove()" ontouchstart="move('right')">RIGHT</button></div>
   </div>

<footer>
</footer>

<script src="public/js/config.js"></script>
<script src="public/js/entity.js"></script>



</body>
</html>