<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Go to Robot</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>


    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MH4F8G4');</script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        // Creates the default tracker.
        ga('create', 'TAG_ID', 'auto');

        // Uses the default tracker to send a pageview to the
        // Google Analytics property with tag ID of 'TAG_ID'.
        ga('send', 'pageview');

    </script>


</head>
<header>
    <button disabled id="start">start</button>
    <input id="filegame" accept=".json" type="file" onchange="showFile(this)">

    <select name="user_profile_color_1" autofocus>
        <option value="1">level 1</option>
        <option value="2">level 2</option>
        <option value="3">no level</option>
        <option value="4">no level</option>
    </select>
</header>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MH4F8G4"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="conteiner">
    <div id="interface">

        <button id="go" onmousedown="move()" onmouseup="clearmove()">GO</button>
        <div>
            <button id="turn" onmousedown="turn()"><img src="https://img.icons8.com/doodle/344/rotate.png" id="im">
            </button>
        </div>
        <div>
            <button id="token" onmousedown="token()">token</button>
        </div>
        <div>

        </div>
    </div>
    <div>
        <canvas id="Canvas"></canvas>
        <meter id="loading" value="0" min="0" max="100" optimum="85" low="33" high="66"></meter>
    </div>
</div>

<div id="conteiner">
    <div class="code">
        <div><input type="button" id="gocode" value="Submit code"></div>
        <textarea>
</textarea>
    </div>
    <div class="code">
        <h4>Help</h4>
        <h5>control functions</h5>
        <p> karol.go(); - make a move</p>
        <p> karol.turnLeft(); - make a turn</p>
        <p> karol.chekCoin(); - true = coin</p>
        <p> karol.lift(); - pick up a coin</p>
        <p> karol.chekWall(); - true = wall</p>
    </div>
</div>

<footer>


</footer>
<script src="dist/built.js"></script>
</body>
</html>