<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Document</title>
    <link href="public/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<header>
    <button disabled id="start" onmousedown="startGame()">start</button>
    <input id="filegame" accept=".json" type="file" onchange="showFile(this)">

    <select name="user_profile_color_1" autofocus>
        <option value="1">level 1</option>
        <option value="2">level 2</option>
        <option value="3">no level</option>
        <option value="4">no level</option>
    </select>
</header>
<body onresize="MyShag()">

<div id="conteiner"></div>
    <div id="interface">

        <button id="go" onmousedown="move()" onmouseup="clearmove()">GO</button>
        <div>
            <button id="turn" onmousedown="turn()"><img src="https://img.icons8.com/doodle/344/rotate.png" id="im">
            </button>
        </div>
        <div>
            <button id="token" onmousedown="token()">token</button>
        </div>
    </div><canvas id="Canvas"></canvas>
<div id="conteiner"><div class="code">
        <div><input type="button" id="gocode" value="Submit code"></div>
        <textarea>
</textarea>
    </div>
<div class="code">
    <h4>Help</h4>
    <h5>control functions</h5>
    <p>1. move() - make a move</p>
    <p>2. turn() - make a turn</p>
    <p>3. token() - pick up a coin</p>
</div></div>

<footer>
</footer>
<script src="public/maps/levels.json"></script>
<script src="public/js/config.js"></script>
<script src="public/js/entity.js"></script>
<script src="public/js/control.js"></script>
<script src="public/js/worldgen.js"></script>
<script src="public/js/mapSeting.js"></script>
<script src="public/js/render.js"></script>
<script src="public/js/textcode.js"></script>

</body>
</html>