*{
    margin:0;
}
body{
    background-color: rgba(116, 90, 208, 0.51);
}
canvas
{
    float: left;
    background-color: rgba(58, 161, 161, 0.82);
    border-style: groove;
}

#interface{
    margin: 5px;
    background-color: darksalmon;
    border-style:ridge;
    float: left;
    padding: 5px;

}
header,footer{
    border-style: outset;
    background-color: #2ed6d9;
    height:30px;
    width:100%;
}
footer{
    position:fixed;
    bottom:0px;
}

button{
    margin: 4px;
}
