* {
    margin: 0;
}

body {
    background-color: rgba(116, 90, 208, 0.51);
}

canvas {
    display: block;
    margin: 5px auto;
    background-color: rgba(211, 255, 255, 0.82);
    border-style: groove;
}

#interface{
    float: right;
    margin: 5px;
    background-color: darksalmon;
    border-style: ridge;
    padding: 5px;

}
.code{

    margin: 5px;
    background-color: #9fd377;
    border-style: ridge;
    padding: 5px;
}

header, footer {
    border-style: outset;
    background-color: #2ed6d9;
}

#start{
    margin: 10px;
    height: 30px;
    width: 50px;
}

footer {
    position: fixed;
    bottom: 0px;
}

body button {
    margin: 4px;
    height: 60px;
    width: 150px;
}

#im {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}
#conteiner{
    margin: 5px auto;
    display: flex;
}
.code>h4,.code>h5{
    text-align: center;
}